# Lists

In [1]:
score1 = 89
score2 = 77
score3 = 100
score4 = 95
score5 = 72

In [3]:
score1 = score1 + 5
print score1

99

In [4]:
scores = [89,77,100,95,72]

In [5]:
print scores

[89, 77, 100, 95, 72]

In [6]:
names = ["Billy", "Matthew", "Shannon", "Kristen", "Taylor"]

In [7]:
print names

['Billy', 'Matthew', 'Shannon', 'Kristen', 'Taylor']

In [8]:
key = [True, False, False, True, False]

In [9]:
print key

[True, False, False, True, False]

In [10]:
print scores

[89, 77, 100, 95, 72]

In [11]:
print scores[0]

89

In [12]:
print scores[5]

IndexError: list index out of range

In [13]:
print scores[-1]

72

In [14]:
print scores

[89, 77, 100, 95, 72]

In [15]:
scores[1] = 87

In [16]:
print scores

[89, 87, 100, 95, 72]

In [17]:
random_list = ["James", False, 58, "Masonry", "cactus", 38.2]

## Some functions we can call on lists

In [18]:
len(scores)

5

In [21]:
print scores
i = 0
while i < len(scores):
    scores[i] = scores[i] + 5
    i = i + 1
print scores

[94, 92, 105, 100, 77, 89]
[99, 97, 110, 105, 82, 94]

In [20]:
print scores
scores.append(89)
print scores

[94, 92, 105, 100, 77]
[94, 92, 105, 100, 77, 89]

Make a list containing the first 8 even numbers.

In [22]:
mylist = [] # This is an empty list

i = 0

while i < 8:
    mylist.append(2*i)
    i = i + 1
    
print mylist

[0, 2, 4, 6, 8, 10, 12, 14]

In [23]:
del mylist[4]
print mylist

[0, 2, 4, 6, 10, 12, 14]

In [24]:
print len(mylist)
del mylist[-1]
print len(mylist)

7
6

Write a cell that creates a list of all multiples of 5 less than 100.

In [27]:
list_of_multiples = []

i = 0

while i*5 < 100 :
    list_of_multiples.append(5*i)
    i = i + 1
    
print list_of_multiples

[0, 5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70, 75, 80, 85, 90, 95]

# Strings

In [28]:
a = "Cat"
b = "Dog"
c = "Squirrel"

In [29]:
print a, b, c

Cat Dog Squirrel

In [30]:
a = Cat

NameError: name 'Cat' is not defined

In [31]:
print a

Cat

In [32]:
print a + b

CatDog

In [33]:
"Cat" + "Dog"

'CatDog'

In [34]:
print a*5

CatCatCatCatCat

In [35]:
"cat" + " " + "dog"

'cat dog'

In [36]:
a + " " + b

'Cat Dog'

In [37]:
a[0]

'C'

In [42]:
a[1]

'a'

In [43]:
a[2]

't'

In [44]:
a[-1]

'a'

In [45]:
a[10]

IndexError: string index out of range

In [46]:
len(a)

4

In [47]:
line = "Lots            of               spaces."

In [48]:
new_list = line.split()
print new_list

['Lots', 'of', 'spaces.']

In [49]:
"a" in "Cat"

True

In [50]:
print scores

[99, 97, 110, 105, 82, 94]

In [51]:
99 in scores

True

In [52]:
-1 in scores

False

In [53]:
"A" in "Cat"

False

In [54]:
my_string = 'abcdefghijklmnopqrstuvwxyz'

print my_string[3:]

defghijklmnopqrstuvwxyz

In [55]:
print my_string[:3]

abc

In [56]:
print my_string[3:6]

def

In [58]:
print my_string
my_string = my_string[:3] + my_string[4:]
print my_string

abcdefghijklmnopqrstuvwxyz
abcefghijklmnopqrstuvwxyz

Write a cell that takes a string as input, and prints the string written in reverse. For instance, if given "coconut" it should print "tunococ".

In [59]:
start_string = "coconut"
result = ""
i = 1
while i <= len(start_string):
    result = result + start_string[-i]
    i = i + 1
print result

tunococ

In [61]:
print start_string[::-1]

tunococ

In [62]:
start_string = "coconut"
result = ""
i = 0
while i < len(start_string):
    result = start_string[i] + result
    i = i + 1
print result

tunococ

In [60]:
empty_string = ""

print empty_string
empty_string += "a"  #shorthand for empty_string = empty_string + "a"
print empty_string

a